#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  font-size: 18px;
  overflow: hidden;
  position: relative;
}

#main {
  flex: 1;
}

#loading {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

.hidden-scroll-bar::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
