#main {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  font-size: 18px;
  position: relative;
}

#loading {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
