#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  font-size: 18px;
  overflow: hidden;
  position: relative;
}

#main {
  flex: 1;
  width: 100%;
  background-color: aqua;
  border: 1px solid black;
  overflow: hidden;
}

#main .main_grid {
  height: 100%;
  /* display: flex;
  align-items: center; */
  position: relative;
}

#main .main_grid-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

#loading {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

#status-bar {
  width: 100%;
  background-color: antiquewhite;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pagination {
  width: 100%;
  background-color: aquamarine;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dock {
  width: 100%;
  background-color: blue;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dock .main-dock {
  width: 100%;
  background-color: white;
  opacity: 0.8;
  backdrop-filter: blur(30px);
  border-radius: 46px;
}

.hidden-scroll-bar::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

/* Không thuộc về điểm breakpoint */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.dapp {
  position: absolute;
  background: red;
  z-index: 100;
}

/* Theo breakpoint */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
